<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ title }}</title>
	<!-- BOOTSTRAP STYLES-->
	<link href="static/css/bootstrap.css" rel="stylesheet" />
	 <!-- FONTAWESOME STYLES-->
	<link href="static/css/font-awesome.css" rel="stylesheet" />
		<!-- CUSTOM STYLES-->
	<link href="static/css/custom.css" rel="stylesheet" />
	 <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/tmto">{{ title }}</a> 
			</div>
<div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 14px;"> Developed under the guidance of Dr. Sugata Gangopadhyay &nbsp;</div>
		</nav>   
		   <!-- /. NAV TOP  -->
				<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
				<li class="text-center">
					<img src="static/img/find_user.jpg" class="user-image img-responsive"/>
					</li>
				
					
					<li>
						<a  href="/tmto"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
					</li>
					 <!--  <li>
						<a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
					</li>
					<li>
						<a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
					</li>
						   <li  >
						<a  href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
					</li>	
					  <li  >
						<a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
					</li> -->
					<li  >
                        <a  href="function1"><i class="fa fa-edit fa-3x"></i> Analyse m-t </a>
                    </li>    
                    <li  >
                        <a  href="function2"><i class="fa fa-edit fa-3x"></i> Iterate </a>
                    </li>    
                    <li  >
                        <a  href="function3"><i class="fa fa-edit fa-3x"></i> Single Attack </a>
                    </li> 
				</ul>
			   
			</div>
			
		</nav>  
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper" >
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
					 <h2>Iterate</h2>
					</div>
				</div>
				 <!-- /. ROW  -->
				 <hr />
			   <div class="row">
				<div class="col-md-12">
					<!-- Form Elements -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3> Provide Input Parameters </h3>
						</div>
						<div class="panel-body">
							<form id="form">
							<div class="row">
								<div class="col-md-6">
									<br>
									
										<!-- <div class="form-group">
											<label>Text Input</label>
											<input class="form-control" />
											<p class="help-block">Help text here.</p>
										</div> -->
										<div class="form-group">
											<label>Enter 'N'</label>
											<input id='n' class="form-control" placeholder="Enter a power of 2 number" />
										</div>
										<!-- <div class="form-group"> -->
										<!--    <label>File input</label>
											<input type="file" />
										</div> -->
										<div class="form-group">
											<label>Enter 'm'</label>
											<input id='m' class="form-control" placeholder="Enter a number between 1 & N" />
										</div>
										<div class="form-group">
											<label>Enter 't'</label>
											<input id='t' class="form-control" placeholder="Enter any number" />
										</div>
										<br>
										<!-- <div class="form-group"> -->
										<!-- <div class="checkbox">
											<label>
												<input type="checkbox" id="manualKey" onclick="var input = document.getElementById('key'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Manually provide Key
											</label>
										</div> -->
									<!-- </div> -->
										<br>
										<br>
										<div class="col-xs-4"></div>
										<div class="col-xs-6 text-center"> 
											<button type="submit" id='submitButton' class="btn btn-success" data-toggle="modal" data-target="#outputModal">Submit Button
											</button>
											<!-- Modal -->
												<div id="outputModal" class="modal fade" role="dialog">
												  <div class="modal-dialog">

													<!-- Modal content-->
													<div class="modal-content">
													  <div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Output</h4>
													  </div>
													  <div class="modal-body">
														<img src="static/img/loader.gif" class="img-responsive center-block"/>
                                                        <p>Processing...</p>
													  </div>
													  <div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													  </div>
													</div>

												  </div>
												</div>
										</div>
										
										<!-- </form> -->

															 
								</div>
								
								<div class="col-md-6">
									<br>
									<!-- <form role="form"> -->
										<!-- <fieldset disabled="disabled"> -->
											<div class="form-group">
												<label>Enter Plaintext</label>
												<input id='plainText' class="form-control" type="text" placeholder="Enter any text"/>
											</div>
											<div class="form-group">
												<label>Select type of Cipher </label>
												<select id="cipher" class="form-control">
													<option value = 'DES'>DES</option>
													<option value = 'AES'>AES</option>
												</select>
											</div>
											<div class="form-group">
												<label>Enter Number of Iterations</label>
												<input id='iter' class="form-control" type="text" placeholder="Enter any number"/>
											</div>
											<!-- <div class="form-group">
												<label>Enter Key</label>
												<input class="form-control" id="key" type="text" placeholder="Enter key" disabled/>
											</div> -->
											<br>
											<br>
											<br>
											<div class="col-xs-6 text-center"> 
												<button type="reset" id='resetButton' class="btn btn-danger" onclick="var input = document.getElementById('key'); input.disabled = true;">Reset Button</button>
											</div>
										<!-- </fieldset> -->
									</div>
								</div>
									<br>
							</form>
			 <!-- /. PAGE INNER  -->
						</div>
			 <!-- /. PAGE WRAPPER  -->
					</div>
				</div>
			</div>
		</div>
		</div>

	 <!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="static/js/jquery-1.10.2.js"></script>
	  <!-- BOOTSTRAP SCRIPTS -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="static/js/jquery.metisMenu.js"></script>
	  <!-- CUSTOM SCRIPTS -->
	<script src="static/js/custom.js"></script>
	<script type="text/javascript">

		$(document).on('submit','#form',function(e){
			
			var n = $('#n').val();
			var m = $('#m').val();
			var t = $('#t').val();
			var plainText = $('#plainText').val();
            var iter = $('#iter').val();
            var cipher = $('#cipher').val();
         //    var key;
         //    if( document.getElementById('manualKey').checked ){
         //    	key = $('#key').val();
        	// }
			e.preventDefault();
			$.ajax({
	            type: 'POST',
	            url: '/tmto/function2_oninput',
	            data: {
	            		'N':n,
	            		'm':m,
	            		't':t,
	            		'plainText':plainText,
	            		'iter':iter,
	            		'cipher':cipher,
	            		// 'key':key
	            		// 'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
	            		},
	            success: function(data) {
	                $('#outputModal').find('.modal-body').html(data);
	            }
	        });
		});
	</script>
	<script type="text/javascript">  
				$(".modal").on("hidden.bs.modal", function(){
					$(".modal-body").html('<img src="static/img/loader.gif" class="img-responsive center-block"/><p>Processing...</p>');
				});

	</script>
   
</body>
</html>
